.AnhLapTop {
    margin-left: 3px;
    margin-top: 20px;
    display: flex;
}

.anhLapTop {
    height: 280px;
    width: 265px;
    margin-left: 33px;
}

.anhLapTop2 {
    height: 280px;
    width: 265px;
    margin-left: 38px;
}

.anhLapTop3 {
    height: 300px;
    width: 265px;
    margin-left: 35px;
}

.anhLapTop4 {
    height: 300px;
    width: 265px;
    margin-left: 35px;
}

.imagelaptop {
    height: 150px;
    width: 300px;
}
